.form-flights label
{
   float: left;
   text-align: left;
   width: 10em;
   /* margin-right: 1em; */
   margin-top: 0.4em;
}

.datetimepicker {
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr;
}
