<app-nav-bar></app-nav-bar>
<br/>
<br/>
<br/>
<main role="main" class="container">
  <div class="starter-template">
    <h1>Search For Flights</h1>
      <p class="lead"><br></p>
  </div>

  <div class="row no-gutters">
    <div class="col-10" >
      <form class="form-flights " [formGroup]="form" (ngSubmit)="getFlights()">
        <div *ngIf="form.errors" class="alert alert-danger">
          Form is invalid
        </div>
        <div class="form-group row form-inline col-md-12 ">
          <label for="sourceAirport" class="col-sm-3 col-form-label">Source Airport</label>
          <input id="sourceAirport" type="text" class="form-control w-25" formControlName="sourceAirport">
          <div *ngIf="sourceAirport.touched && sourceAirport.invalid" class="alert alert-danger">
            <div *ngIf="!!sourceAirport.errors.required">sourceAirport is requried</div>
          </div>
          <label for="destinationAirport" class="col-sm-3 col-form-label">Destination aurport</label>
          <input id="destinationAirport" formControlName="destinationAirport" type="text" class="form-control w-25">
          <div *ngIf="destinationAirport.touched && destinationAirport.invalid" class="alert alert-danger">
            <div *ngIf="!!destinationAirport.errors.required">destinationAirport is requried</div>
          </div>
          <label for="destinationCity" class="col-sm-3 col-form-label">Destination city</label>
          <input id="destinationCity" formControlName="destinationCity" type="text" class="form-control w-25">
          <div *ngIf="destinationCity.touched && destinationCity.invalid" class="alert alert-danger">
            <div *ngIf="!!destinationCity.errors.required">destinationCity is requried</div>
          </div>
        </div>
        <div class="form-group row form-inline col-md-12"> <!-- Date input -->
          <label for="departureDate" class="col-sm-3 col-form-label">Departure Date</label>
          <input class="form-control  w-25" id="departureDate0" type="text" formControlName="departureDate"/>
          <div *ngIf="departureDate.touched && departureDate.invalid" class="alert alert-danger">
            <div *ngIf="!!departureDate.errors.required">departureDate is requried</div>
          </div>
          <label for="arrivalDate9" class="col-sm-3 col-form-label">arrival date</label>
          <input id="arrivalDate9" class="form-control  w-25" type="text" formControlName="arrivalDate">
        </div>
        <div class="form-group row form-inline col-md-12">
          <label for="adults" class="col-sm-3 col-form-label">Adults</label>
          <select class="custom-select w-25" id="adults" formControlName="adults">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
          </select>
          <label for="children" class="col-sm-3 col-form-label">Children</label>
          <select class="custom-select w-25" id="children" formControlName="children">
              <option selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
          </select>
        </div>
        <button class="btn btn-primary " type="submit">Search</button>
     </form>
    </div>
    <div class="col-12" *ngIf="this.flights">
      <data-table
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)">
        <data-table-column
          [property]="'airline'"
          [header]="'Airline'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'depdate'"
          [header]="'Departure Date and time'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'arrtime'"
          [header]="'Arrival Time'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'stops'"
          [header]="'Stops'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'operatingcarrier'"
          [header]="'Operating Carrier'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'flightno'"
          [header]="'Flight No'"
          [resizable]="true">
        </data-table-column>
        <data-table-column
          [property]="'weatherIcon'"
          [header]="'Weather'"
          >
          <ng-template #dataTableCell let-item="item">
            <img class="mb-4" src={{this.weatherIcon}} alt="" width="80" height="80">
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
   </div>
</main>


