<nav class="navbar navbar-expand-md navbar-light bg-light  fixed-top">
    <a class="navbar-brand" *ngIf="auth.currentUser$ | async as user" >
      Hello {{user.email}}
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="auth.currentUser$" class="nav-item">
          <a class="nav-link" routerLink="/"> <span class="sr-only"></span></a>
        </li>
        <li *ngIf="auth.currentUser$" class="nav-item">
          <a class="nav-link" (click)="signOut()">Sign out</a>
        </li>
        <li *ngIf="!auth.currentUser$" class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
      </ul>
    </div>
  </nav>
