<form class="form-signin" [formGroup]="form" (ngSubmit)="signIn()">
  <img class="mb-4" src="../../assets/plane-512-1.png" alt="" width="100" height="100">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div class="form-group">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      formControlName="email">
  </div>
  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      formControlName="password">
  </div>
  <button class="btn btn-info" type="submit">Sign In</button>

</form>
<a class="btn btn-warning" routerLink="/sign-up" type="submit">Sign up</a>
  <p class="mt-5 mb-3 text-muted">&copy; Bisera Ivanovska, Skopje, 2018</p>
