<form class="form-signup" [formGroup]="form" (ngSubmit)="signUp()">
  <div *ngIf="form.errors" class="alert alert-danger">
    Username or password is invalid
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
        formControlName="name"
        id="name"
        type="text"
        class="form-control">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input
        formControlName="surname"
        id="surname"
        type="text"
        class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control">
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
          <div *ngIf="!!email.errors.required"> Email is requried</div>
          <div *ngIf="!!email.errors.email"> Please enter valid email</div>
        </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control">
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
          <div *ngIf="!!username.errors.required"> Username is requried</div>
        </div>
      </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
        formControlName="password"
        id="password"
        type="password"
        class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          <div *ngIf="!!password.errors.required">Password is requried</div>
          <div *ngIf="!!password.errors.minlength">Password should be minimum {{!!password.errors.minlength.requiredLength}}</div>
        </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
